.advantages {
  display: flex;
  flex-direction: column;

  @include container;
}

.advantages__caption {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  font-family: $alternate-font;
  font-size: 14px;
  line-height: 18px;
  list-style: none;
}

.advantages__item {
  position: relative;
  padding-left: 80px;
  padding-bottom: 25px;

  &::before {
    @include pseudo-element(0, 0, 60px, 60px);
    background-color: $main-color;
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center;
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-position: center;
  }

  &--dining::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-position: center;
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-position: center;
  }
}

@media (min-width: $tablet-width) {
  .advantages__caption {
    font-size: 60px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 324px;
    min-height: 113px;
    padding-top: 117px;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    justify-content: space-between;
  }

  .advantages__item {
    width: 285px;
  }
}
