.advantages {
  @include container;
  display: flex;
  flex-direction: column;
}

.advantages__caption {
  margin: 0;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.advantages__list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  padding-left: 80px;
  padding-bottom: 26px;

  &::before {
    @include pseudo-element(-2px, 0, 60px, 60px);
    background-color: $main-color;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px auto;
    }
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px auto;
    }
  }

  &--dining::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px auto;
    }
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50px auto;
    }
  }
}

.advantages__description {
  margin: 0;
  font-family: $alternate-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.advantages__number {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages__caption {
    margin-top: 15px;
    margin-bottom: 66px;
    font-size: 60px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    width: 324px;
    min-height: 142px;
    padding-top: 117px;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 58px;

    &--dining {
      margin-bottom: 12px;
    }

    &--clock {
      margin-bottom: 12px;
    }

    &::before {
      @include pseudo-element(5px, 1px, 80px, 80px);
    }
  }

  .advantages__description {
    position: relative;
    z-index: 2;
    padding-right: 60px;
    font-size: 16px;
    line-height: 24px;
  }

  .advantages__number {
    display: block;
    position: absolute;
    top: -33px;
    left: 115px;
    font-size: 281px;
    line-height: 281px;
    color: $accent-color;
  }
}

@media (min-width: $desktop-width) {
  .advantages__caption {
    margin-top: 73px;
  }

  .advantages__list {
    margin-bottom: 0;
  }

  .advantages__item {
    width: 245px;
    margin: 0;

    &--dining,
    &--clock {
      margin: 0;
    }
  }

  .advantages__description {
    padding: 0;
  }
}
