.button {
  display: block;
  padding-top: 12px;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $main-color;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
  }

  &--slider {
    padding: 0;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: #111111;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: transparent;
    }

    &:active {
      color: #111111;
    }
  }

  &--grey {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    background-color: $accent-color;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(114, 114, 114, 0.5);
    }
  }
}

@media (min-width: $tablet-width) {
  .button {
    &--slider {
      position: relative;
      font-size: 20px;

      &::before {
        @include pseudo-element(26px, 0, 100%, 0);
        border-top: 1px dotted #bebebe;
      }

      &:hover {
        background-color: transparent;

        &::before {
          border-top: 1px solid #989898;
        }
      }

      &:active {
        color: #000000;

        &::before {
          border: none;
        }
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    &--grey {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
