.catalog {
  background-color: #ffffff;
}

.catalog__caption {
  @include container;
  margin-top: 15px;
  margin-bottom: 28px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.catalog__list {
  margin: 0;
  padding: 0;
}

.catalog__more {
  @include container;
  display: flex;
  flex-direction: column;
}

.catalog__toggle {
  position: relative;
  padding-top: 78px;
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;

  &::before {
    @include pseudo-element(25px, 125px, 30px, 30px);
    background-image: url("../img/icon-plus-mobile.svg");
    background-position: center;
  }
}

.catalog__description {
  margin: 0;
  margin-top: 6px;
  margin-bottom: 21px;
  align-self: center;
  font-family: $alternate-font;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .catalog {
    @include container;
    border: none;
  }

  .catalog__caption {
    margin-top: 56px;
    margin-bottom: 70px;
    padding-left: 0;
    font-size: 60px;
    border: none;
  }

  .catalog__more {
    align-items: center;
    width: auto;
    min-height: 412px;
    margin: 0;
    margin-top: 95px;
    padding: 0;
    padding-bottom: 17px;
    border: 2px solid $border-color;
  }

  .catalog__toggle {
    width: 142px;
    padding: 0;
    padding-top: 162px;
    font-size: 20px;
  }

  .catalog__description {
    width: 167px;
    margin-top: 25px;
    margin-bottom: 89px;
    font-size: 16px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .catalog__caption {
    margin-top: 135px;
  }
}
