.contacts {
  display: flex;
  flex-direction: column;

  &--grey {
    background-color: $accent-color;
  }
}

.contacts__wrapper {
  display: flex;
  padding-top: 25px;
  padding-left: 19px;
  padding-right: 24px;
  padding-bottom: 25px;
}

.contacts__caption {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-family: $alternate-font;
  font-size: 14px;
  line-height: 20px;
}

.contacts__map {
  width: 320px;
  height: 400px;
  background-image: url("../img/bg-map-mobile@1x.png");
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    justify-content: space-between;
  }

  .contacts__caption {
    width: 121px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    width: 155px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: block;
    position: relative;
  }

  .contacts__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 570px;
    height: 200px;
    background-color: #ffffff;
  }
}
