.contacts {
  background-color: #ffffff;

  &--grey {
    background-color: $accent-color;
  }
}

.contacts__wrapper {
  @include container;
  display: flex;
  padding-top: 28px;
  padding-bottom: 26px;
}

.contacts__caption {
  width: 123px;
  margin: 0;
  margin-right: 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  width: 135px;
  margin: 0;
  font-family: $alternate-font;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.contacts__map {
  width: auto;
  min-height: 362px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: 320px auto;
  }
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    justify-content: space-between;
    width: 625px;
    padding: 0;
    padding-top: 65px;
    padding-bottom: 60px;
  }

  .contacts__caption {
    width: 121px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 155px;
    font-size: 16px;
    text-align: right;
  }

  .contacts__map {
    min-height: 396px;
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
      background-size: 767px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: block;
    position: relative;
  }

  .contacts__wrapper {
    position: absolute;
    top: 97px;
    left: 40px;
    z-index: 1;
    width: 570px;
    height: 200px;
    padding: 0;
    align-items: center;
    background-color: #ffffff;
  }

  .contacts__caption {
    margin-left: 76px;
    margin-right: 0;
  }

  .contacts__address {
    min-height: 80px;
    margin-right: 89px;
    text-align: left;
  }

  .contacts__map {
    min-height: 400px;
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
      background-size: 1440px auto;
    }
  }
}
