.example {
  display: flex;
  flex-direction: column;
  background-color: $accent-color;
}

.example__caption {
  padding-left: 20px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.example__description {
  @include standard-padding;
  font-family: $alternate-font;
  font-size: 14px;
  line-height: 18px;
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  @include standard-padding;
}
