.example {
  background-color: $accent-color;
}

.example__caption {
  margin-top: 17px;
  margin-bottom: 23px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.example__wrapper {
  @include container;
}

.example__description {
  margin: 0;
  margin-bottom: 25px;
  padding-left: 1px;
  padding-right: 1px;
  font-family: $alternate-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .example {
    background-image: linear-gradient(#ffffff 57%, $accent-color 57%);
    border-top: 2px solid $border-color;
  }

  .example__caption {
    width: auto;
    margin: 0;
    margin-top: 42px;
    margin-bottom: 64px;
    padding: 0;
    font-size: 60px;
  }

  .example__wrapper {
    padding-bottom: 86px;
  }

  .example__description {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-image: linear-gradient(#ffffff 29%, $accent-color 29%);
    border: none;
  }

  .example__content-wrapper {
    @include container;
    display: flex;
    flex-wrap: wrap;
  }

  .example__caption {
    width: 100%;
    margin: 0;
    margin-top: 57px;
    margin-bottom: 146px;
    padding: 0;
  }

  .example__wrapper {
    width: 570px;
    margin: 0;
    padding: 0;
  }

  .example__description {
    width: 431px;
    margin-bottom: 68px;
  }
}
