.example {
  background-color: $accent-color;
}

.example__caption {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  @include container;
}

.example__wrapper {
  display: flex;
  flex-direction: column;

  @include container;
}

.example__description {
  font-family: $alternate-font;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: #ffffff;
    border-top: 2px solid $border-color;
  }

  .example__caption {
    padding-left: 30px;
    font-size: 60px;
  }

  .example__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 250px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $accent-color;
    border: none;
  }

  .example__caption {
    width: 100%;
    margin: 0;
    background-color: #ffffff;
  }

  .example__wrapper {
    width: 475px;
    margin: 0;
    padding: 0;
    padding-bottom: 70px;
  }
}
