.extras {
  display: flex;
  flex-direction: column;
}

.extras__caption {
  @include container;
  margin-top: 26px;
  padding-bottom: 34px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  border-bottom: 2px solid #cdcdcd;
}

.extras__list {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .extras {
    @include container;
  }

  .extras__caption {
    margin-top: 21px;
    margin-bottom: 80px;
    padding: 0;
    padding-left: 38px;
    font-size: 36px;
    line-height: 36px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .extras {
    width: 895px;
    margin: 0;
    padding: 0;
  }

  .extras__caption {
    margin-top: 25px;
    padding-left: 0;
  }
}
