.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.features__card {
  width: 122px;
  height: 54px;
  text-align: center;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
}

.features__caption {
  flex-grow: 1;
  margin: 0;
  margin-top: 14px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.features__description {
  position: relative;
  top: 8px;
  display: inline-block;
  width: 80px;
  margin: 0 auto;
  font-family: $alternate-font;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  color: #444444;
  background-color: $accent-color;
}

.features__cost {
  margin: auto;
  margin-top: 34px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .features {
    width: 100%;
  }

  .features__card {
    width: 160px;
    height: 69px;
    margin-right: 42px;
  }

  .features__caption {
    font-size: 30px;
    line-height: 37px;
  }

  .features__description {
    top: 3px;
    width: auto;
    padding: 0 7px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  .features__cost {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    width: 192px;
    min-height: 50px;
    margin: 0;
    margin-top: 10px;
    margin-left: auto;
    font-size: 20px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .features {
    width: 366px;
  }

  .features__card {
    margin-right: 0;
    padding-top: 0;
  }

  .features__description {
    background-color: $accent-color;
  }

  .features__cost {
    flex-direction: row;
    align-self: flex-end;
    width: 325px;
    margin-top: 60px;
    margin-left: 0;
    text-align: left;
  }
}
