.form {
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.form__fieldset-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;

  @include standard-padding;
  border-top: 2px solid $border-color-alternate-2;
  border-bottom: 2px solid $border-color-alternate-2;

  &--horizontal {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }

  &--no-border {
    border: none;
  }
}

.form__fieldset-caption {
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 25px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.form__label {
  margin-right: 14px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__input {
  flex-grow: 1;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid $border-color;

  &--textarea {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.form__button {
  margin-top: 34px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.form__requirement {
  font-family: $alternate-font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
