.form {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.form__fieldset {
  @include container;
  position: relative;
  border: none;

  &--info {
    margin-bottom: 24px;
    padding-top: 38px;
  }

  &--programs {
    margin-bottom: 21px;
    padding-top: 28px;
    border: 1px solid $border-color-alternate-light;
  }

  &--contacts {
    margin-bottom: 32px;
    padding-top: 42px;

    &::before {
      @include pseudo-element(23px, 20px, 100vw, 3px);
      background-color: $main-color;
    }
  }

  &--comment {
    margin-bottom: 26px;
    padding-top: 32px;

    &::before {
      @include pseudo-element(11px, 20px, 100vw, 3px);
      background-color: $main-color;
    }
  }

  &--extras {
    margin-bottom: 0;
    padding-top: 28px;

    &::before {
      @include pseudo-element(11px, 20px, 100vw, 3px);
      background-color: $main-color;
    }
  }
}

.form__fieldset-caption {
  position: relative;
  padding-left: 0;
  padding-right: 22px;
  z-index: 1;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;

  &--contacts {
    top: 10px;
    width: 181px;
  }
}

.form__input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  &--radio,
  &--checkbox {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.form__label {
  margin-right: 14px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &--radio {
    position: relative;
    margin-right: 0;
    margin-bottom: 24px;
    padding-left: 46px;
    cursor: pointer;

    &::before {
      @include pseudo-element(-6px, 0, 28px, 28px);
      border: 1px solid #cfcfcf;
      border-radius: 50%;
    }

    &::after {
      @include pseudo-element(3px, 9px, 12px, 12px);
      display: none;
      background-color: $main-color;
      border-radius: 50%;
    }

    &:hover {
      &::before {
        border: 1px solid #bcbcbc;
      }
    }

    &:active,
    &:disabled {
      color: rgba(0, 0, 0, 0.5);

      &::before {
        opacity: 0.5;
      }

      &::after {
        opacity: 0.5;
      }
    }
  }

  &--checkbox {
    position: relative;
    margin-top: 10px;
    margin-bottom: 14px;
    padding-left: 46px;
    cursor: pointer;

    &::before {
      @include pseudo-element(-6px, 0, 28px, 28px);
      border: 1px solid #cfcfcf;
    }

    &::after {
      @include pseudo-element(-2px, 6px, 16px, 10px);
      display: none;
      border-left: 2px solid $main-color;
      border-bottom: 2px solid $main-color;
      transform: rotate(-45deg);
    }

    &:hover {
      &::before {
        border: 1px solid #bcbcbc;
      }
    }

    &:active,
    &:disabled {
      color: rgba(0, 0, 0, 0.5);

      &::before {
        opacity: 0.5;
      }

      &::after {
        opacity: 0.5;
      }
    }
  }
}

.form__input {
  flex-grow: 1;
  padding-top: 12px;
  padding-left: 15px;
  padding-bottom: 13px;
  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid $border-color;

  &--radio:checked + label::after {
    display: block;
  }

  &--checkbox:checked + label::after {
    display: block;
  }

  &--textarea {
    width: 100%;
    min-height: 150px;
    box-sizing: border-box;
    resize: none;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 1px solid #444444;
  }
}

.form__input:focus + .form__input-icon {
  fill: $main-color;
}

.form__input-icon {
  position: absolute;

  &--email {
    top: 15px;
    right: 16px;
  }

  &--phone {
    top: 12px;
    right: 13px;
  }
}

.form__button-wrapper {
  @include container;
}

.form__button {
  width: 100%;
  margin-top: 27px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.form__requirement {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 32px;
  font-family: $alternate-font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .form__fieldset {
    width: 630px;

    &--info {
      margin-top: 24px;
      margin-bottom: 74px;
    }

    &--programs {
      box-sizing: border-box;
      margin-bottom: 80px;
      padding-top: 34px;
    }

    &--contacts {
      margin-bottom: 71px;
      padding-top: 66px;

      &::before {
        top: 18px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &--comment {
      margin-bottom: 65px;
      padding-top: 71px;

      &::before {
        top: 18px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &--extras {
      padding-top: 61px;

      &::before {
        top: 18px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .form__fieldset-caption {
    top: -5px;
    left: -40px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 36px;
    line-height: 36px;

    &--contacts {
      top: -5px;
      width: auto;
    }
  }

  .form__fieldset-wrapper {
    &--extras {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .form__input-wrapper {
    &--checkbox {
      flex-direction: row;
      justify-content: space-between;
      width: 555px;
    }
  }

  .form__label {
    margin-right: 22px;
    font-size: 20px;
    line-height: 20px;

    &--radio {
      margin-left: 12px;
      margin-bottom: 33px;

      &::before {
        @include pseudo-element(-11px, -13px, 40px, 40px);
      }

      &::after {
        @include pseudo-element(1px, -1px, 18px, 18px);
        display: none;
      }
    }

    &--checkbox {
      margin-top: 0;
      margin-bottom: 53px;
      padding-left: 58px;

      &[for="vitamin"] {
        padding-right: 40px;
      }

      &::before {
        @include pseudo-element(-9px, -1px, 38px, 38px);
      }

      &::after {
        @include pseudo-element(2px, 10px, 17px, 11px);
        display: none;
      }
    }
  }

  .form__input {
    font-size: 20px;
    line-height: 20px;

    &--textarea {
      min-height: 174px;
    }
  }

  .form__input-icon {
    &--email {
      top: 21px;
    }

    &--phone {
      top: 17px;
    }
  }

  .form__button-wrapper {
    display: flex;
    align-items: center;
    width: 623px;
    margin-bottom: 60px;
    padding: 0;
  }

  .form__button {
    width: auto;
    margin-top: 0;
    margin-right: 64px;
    padding-top: 16px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 20px;
  }

  .form__requirement {
    margin-top: 22px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    @include container;
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
    margin-bottom: 74px;
  }

  .form__fieldset {
    width: 1220px;

    &--info,
    &--programs {
      width: 570px;
      margin: 0;
      padding: 0;
    }

    &--comment {
      margin-bottom: 68px;
    }

    &--extras {
      margin-bottom: 7px;
    }
  }

  .form__fieldset-caption {
    padding-right: 40px;
  }

  .form__fieldset-wrapper {
    &--horizontal {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .form__input-wrapper {
        margin-bottom: 0;
      }
    }
  }

  .form__input-wrapper {
    width: 570px;

    &--radio {
      padding-top: 36px;
    }

    &--checkbox {
      justify-content: flex-start;

      &:first-child {
        margin-right: 80px;
      }
    }
  }

  .form__label {
    &--radio {
      margin-left: 39px;
    }

    &--checkbox {
      &[for="sugar"] {
        margin-right: 107px;
      }

      &[for="milk"] {
        margin-right: 200px;
      }
    }
  }

  .form__button-wrapper {
    display: flex;
    width: 1220px;
    margin-bottom: 70px;
    padding: 0 40px;
  }

  .form__button {
    margin-right: 82px;
    padding-left: 208px;
    padding-right: 208px;
  }
}
