.form {
  display: flex;
  flex-direction: column;

  @include container;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__fieldset-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid $border-color-alternate-light;
  border-bottom: 2px solid $border-color-alternate-light;

  &--wide {
    border: none;
  }

  &--horizontal {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }

  &--no-border {
    border: none;
  }
}

.form__fieldset-caption {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.form__label {
  margin-right: 14px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__input {
  flex-grow: 1;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid $border-color;
}

.form__button {
  margin-top: 34px;
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.form__requirement {
  font-family: $alternate-font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form__fieldset-wrapper {
    border: 1px solid $border-color;

    &--wide {
      border: none;
    }

    &--horizontal {
      width: 100%;
      border: none;
    }

    &--no-border {
      flex-direction: row;
      flex-wrap: wrap;
      border: none;
    }

    &--narrow {
      flex-direction: column;
      width: 285px;
    }
  }

  .form__fieldset-caption {
    font-size: 36px;
    line-height: 36px;
  }

  .form__label {
    font-size: 20px;
    line-height: 20px;
  }

  .form__input {
    font-size: 20px;
    line-height: 20px;
  }

  .form__button {
    font-size: 20px;
    line-height: 20px;
  }

  .form__requirement {
    font-size: 16px;
  }

  .form__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 583px;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset-wrapper {
    &--wide {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &--horizontal {
      width: 570px;
    }

    &--narrow {
      flex-direction: row;
      width: auto;
    }
  }
}
