.main-nav {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  &--closed {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-top: 2px solid $border-color;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 439px;
    flex-grow: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    &--closed {
      display: block;
    }
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__item {
    padding: 0;
    border: none;
  }

  .main-nav__link {
    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }

    &:active {
      color: rgba(0, 0, 0, 0.5);
    }

    &--active {
      position: relative;

      &:hover,
      &:active {
        color: #000000;
      }

      &::before {
        @include pseudo-element(34px, 1px, 100%, 2px);
        background-color: $main-color;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 478px;
    font-size: 20px;
  }

  .main-nav__link {
    &--active::before {
      @include pseudo-element(37px, 1px, 100%, 2px);
    }

    &--white-color {
      color: #ffffff;

      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }

      &:active {
        color: rgba(255, 255, 255, 0.5);
      }

      &::before {
        background-color: #ffffff;
      }

      &.main-nav__link--active::before {
        @include pseudo-element(36px, 1px, 97%, 2px);
      }

      &.main-nav__link--active {
        &:hover,
        &:active {
          color: #ffffff;
        }
      }
    }
  }
}
