.offer {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 289px;
  margin-top: 40px;
  margin-bottom: 35px;
  box-sizing: border-box;
  background-color: $main-color;
  background-image: url("../img/gift-photo-mobile@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

.offer__description {
  position: relative;
  margin: 0;
  margin-bottom: 44px;
  font-family: $alternate-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  &::before {
    @include pseudo-element(-121px, 50%, 56px, 60px);
    background-image: url("../img/icon-gift.svg");
    background-position: center;
    transform: translateX(-50%);
  }
}

@media (min-width: $tablet-width) {
  .offer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    min-height: 200px;
    margin-top: 70px;
    margin-bottom: 76px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }
  }

  .offer__description {
    width: 101px;
    margin-bottom: 0;
    margin-right: 153px;

    &::before {
      top: -5px;
      left: -332px;
      transform: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .offer {
    flex-direction: column;
    width: 245px;
    min-height: 290px;
    margin: 0;
    padding: 0;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }

  .offer__description {
    width: auto;
    margin-right: 0;
    margin-bottom: 44px;

    &::before {
      top: -120px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
