.offer {
  @include container;
  margin-top: 40px;
  margin-bottom: 35px;
  box-sizing: border-box;
  background-color: $main-color;
  background-image: url("../img/gift-photo-mobile@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

.offer__description {
  position: relative;
  margin: 0;
  padding-top: 185px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 44px;
  font-family: $alternate-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  &::before {
    @include pseudo-element(65px, 93px, 56px, 60px);
    background-image: url("../img/icon-gift.svg");
    background-position: center;
  }
}

@media (min-width: $tablet-width) {
  .offer {
    height: 200px;
    margin-top: 70px;
    margin-bottom: 76px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .offer {
    width: 245px;
    height: 290px;
    margin: 0;
    padding: 0;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }
}
