.page-header {
  background-color: #ffffff;
  border-bottom: 2px solid $border-color;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.page-header__logo-wrapper {
  @include container;
  display: flex;
  justify-content: space-between;

  &--no-js {
    justify-content: center;
  }
}

.page-header__logo {
  margin-top: 10px;
  margin-bottom: 13px;
}

.page-header__menu-toggle {
  width: 24px;
  height: 18px;
  margin-top: 22px;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  &--no-js {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    border: none;
  }

  .page-header__wrapper {
    @include container;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__logo-wrapper {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
  }

  .page-header__logo-image {
    width: 176px;
    height: 58px;
  }

  .page-header__menu-toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: absolute;
    top: 0;
  }

  .page-header__logo-image {
    width: 204px;
    height: 62px;
  }
}
