.product {
  text-align: center;
  background-image: url("../img/index-can-mobile@1x.png"),
    url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 20px 167px, top;
}

.product__caption {
  padding-top: 25px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
}

.product__slogan {
  padding-top: 0;
  padding-bottom: 300px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.product__button {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .product {
    text-align: left;
    background-image: url("../img/index-can-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .product__caption {
    width: 414px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }

  .product__slogan {
    padding-bottom: 45px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }

  .product__button {
    width: 245px;
  }
}
