.product-card {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.product-card__wrapper {
  display: flex;
  flex-direction: column;
}

.product-card__caption {
  width: 74px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  &--small {
    width: 100%;
    line-height: 16px;
  }
}

.product-card__table {
  width: 140px;
  font-family: $alternate-font;
  font-size: 12px;
  line-height: 16px;
}

.product-card__field-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
}

.product-card__field {
  text-align: left;

  &--left {
    font-family: $alternate-font;
    font-size: 14px;
    line-height: 14px;
  }

  &--right {
    font-family: $alternate-font;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
  }
}

.product-card__value {
  text-align: right;
}

.product-card__button {
  width: 100%;
  margin-bottom: 17px;
}
