.program-choice {
  display: flex;
  flex-direction: column;
}

.program-choice__wrapper {
  @include container;
}

.program-choice__caption {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 26px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.program-choice__description {
  margin: 0;
  padding-right: 30px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .program-choice__caption {
    margin-top: 56px;
    margin-bottom: 56px;
    font-size: 60px;
    border: none;
  }

  .program-choice__description {
    width: 325px;
    padding-left: 42px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .program-choice__caption {
    margin-top: 188px;
  }

  .program-choice__description {
    padding-left: 0;
  }
}
