.programs {
  display: flex;
  flex-direction: column;

  @include container;
}

.programs__card {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $accent-color;
}

.programs__caption {
  position: relative;
  padding-top: 25px;
  padding-left: 72px;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;

  &::before {
    @include pseudo-element(20px, 0, 50px, 50px);
    background-color: $main-color;
    border-radius: 50%;
  }

  &--lose-weight::before {
    background-image: url("../img/icon-cat-slim.svg");
    background-position: center;
  }

  &--gain-weight::before {
    background-image: url("../img/icon-cat-pro.svg");
    background-position: center;
  }
}

.programs__description {
  font-family: $alternate-font;
  font-size: 14px;
  line-height: 18px;
}

.programs__link {
  display: block;
  position: relative;
  padding-top: 18px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  border-top: 2px solid $border-color-alternate-dark;

  &::before {
    @include pseudo-element(17px, 100px, 24px, 11px);
    background-image: url("../img/icon-right-arrow-long.svg");
    background-position: center;
  }
}

@media (min-width: $tablet-width) {
  .programs__card {
    padding-right: 285px;
  }

  .programs__caption {
    padding-left: 20px;
    font-size: 36px;
  }

  .programs__description {
    font-size: 16px;
    line-height: 24px;
  }

  .programs__link {
    font-size: 20px;
    line-height: 20px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    flex-direction: row;
    justify-content: space-between;
  }

  .programs__card {
    width: 462px;
    padding-left: 52px;
    padding-right: 56px;
  }

  .programs__caption {
    padding-left: 216px;
  }
}
