.program-choice {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.program-choice__caption {
  margin: 0;
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 25px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  border-top: 2px solid $border-color;
}

.program-choice__description {
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 35px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .program-choice {
    @include container;
  }

  .program-choice__caption {
    padding-left: 0;
    font-size: 60px;
    border: none;
  }

  .program-choice__description {
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .program-choice__description {
    padding-left: 0;
  }
}
