.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__wrapper {
  display: flex;
  margin-top: 35px;
  margin-bottom: 33px;
}

.slider__image {
  width: 280px;
  height: 238px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: -20px 0;

  &--before {
    background-image: url("../img/before-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-mobile@2x.png");
      background-size: 320px auto;
    }
  }

  &--after {
    display: none;
    background-image: url("../img/after-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-mobile@2x.png");
      background-size: 320px auto;
    }
  }
}

.slider__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 198px;
  margin-bottom: 36px;
}

.slider__progress {
  width: 72px;
  height: 6px;
  padding-top: 3px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 3px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;

  &--inner {
    width: 35px;
    height: 4px;
    padding: 0;
    background-color: $main-color;
    border: 0;
  }
}

@media (min-width: $tablet-width) {
  .slider__wrapper {
    width: 620px;
    margin-top: 0;
    margin-bottom: 22px;
  }

  .slider__image {
    height: 513px;
    margin: 0;

    &--before {
      width: 311px;
      background-image: url("../img/before-tablet@1x.png");
      background-position: -27px 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/before-tablet@2x.png");
        background-size: 690px auto;
      }
    }

    &--after {
      display: block;
      background-image: url("../img/after-tablet@1x.png");
      background-position: -338px 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/after-tablet@2x.png");
        background-size: 690px auto;
      }
    }
  }

  .slider__controls {
    width: 568px;
    margin-bottom: 75px;
  }

  .slider__progress {
    position: relative;
    width: 428px;
    height: 6px;
    padding: 0;
    background-color: #dcdcdc;
    border: none;

    &--inner {
      position: absolute;
      top: -13px;
      left: 201px;
      width: 8px;
      height: 8px;
      background-color: $main-color;
      border: 12px solid #ffffff;
      border-radius: 50%;
      box-shadow: 0 1px 1px 1px #dcdcdc;
      cursor: pointer;

      &:hover {
        box-shadow: 0 2px 2px 2px #dcdcdc;
      }

      &:active {
        box-shadow: 0 0 0 2px #68b738, 0 2px 2px 4px #dcdcdc;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    width: 610px;
  }

  .slider__wrapper {
    width: 571px;
    margin-bottom: 46px;
  }

  .slider__image {
    &--before {
      width: 430px;
      background-image: url("../img/before-desktop@1x.png");
      background-position: -20px 2px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/before-desktop@2x.png");
        background-size: 690px auto;
      }
    }

    &--after {
      background-image: url("../img/after-desktop@1x.png");
      background-position: -365px 2px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/after-desktop@2x.png");
        background-size: 690px auto;
      }
    }
  }

  .slider__controls {
    margin-left: 118px;
  }
}
