.fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.fieldset__label {
  margin-right: 14px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.fieldset__input {
  flex-grow: 1;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;

  &--textarea {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.fieldset__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-top: 2px solid #ededed;
  border-bottom: 2px solid #ededed;

  &--horizontal {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }

  &--additional {
    border: none;
  }
}

.fieldset__caption {
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 25px;
  font-size: 24px;
  line-height: 24px;
}
