.form {
  display: flex;
  flex-direction: column;
}

.form__button {
  margin-top: 34px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.form__requirement {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
