@mixin standard-padding() {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

@mixin pseudo-element($top, $left, $width, $height) {
  content: "";
  display: block;
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
}
