.programs {
  display: flex;
  flex-direction: column;
}

.programs__card {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
}

.programs__caption {
  position: relative;
  padding-top: 25px;
  padding-left: 72px;
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  &::before {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
  }

  &--lose-weight {
    &::before {
      content: url("../img/icon-cat-slim.svg");
    }
  }

  &--gain-weight {
    &::before {
      content: url("../img/icon-cat-pro.svg");
    }
  }
}

.programs__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.programs__link {
  display: block;
  position: relative;
  padding-top: 18px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  border-top: 2px solid #d9d9d9;

  &::before {
    content: url("../img/icon-right-arrow-long.svg");
    display: block;
    position: absolute;
    top: 17px;
    left: 100px;
    width: 24px;
    height: 11px;
  }
}
