.site-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.site-list__item {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
  border-bottom: 2px solid #ededed;
}
