@import "global";
@import "variables";
@import "mixins";
@import "blocks/advantages";
@import "blocks/button";
@import "blocks/catalog";
@import "blocks/example";
@import "blocks/extras";
@import "blocks/features";
@import "blocks/form";
@import "blocks/main-nav";
@import "blocks/offer";
@import "blocks/page-footer";
@import "blocks/page-header";
@import "blocks/page-main";
@import "blocks/product";
@import "blocks/product-card";
@import "blocks/program-choice";
@import "blocks/programs";
@import "blocks/site-list";
@import "blocks/slider";
