$main-color: #68b738;
$accent-color: #f2f2f2;
$border-color: #e6e6e6;
$border-color-alternate-dark: #d9d9d9;
$border-color-alternate-light: #ededed;
$main-font: "Oswald", "Arial", sans-serif;
$alternate-font: "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1440px;
